
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.contact-image {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.contact-image img {
    max-width: 90%;
    max-height: 300px;
    height: auto;
    border-radius: 8px;
}

.contact-section {
    width: 100%;
    text-align: center;
}

.contact-section ul {
    list-style: none;
    padding: 0;
}

.contact-section li {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .contact-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 0;
    }

    .contact-image {
        flex: 1;
        text-align: left;
        margin-bottom: 0;
        min-width: 300px;
    }

    .contact-section {
        flex: 2;
        text-align: left;
        padding-left: 2rem;
        min-width: 300px;
    }
}
