body {
    background-color: #b9cfe8; /* Equivalent to bg-gray-100 in Tailwind */
    padding: 0;
    box-sizing: border-box;
    line-height: 1.75rem;
    font-family: sans-serif;
}

header {
    background-color: #22577A;
    color: #fff;
    padding: 1rem; /* Equivalent to p-4 in Tailwind */
    text-align: center;
    position: relative;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.menu-icon {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #A53860;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    left: 5%;
    width: auto;
    max-width: 400px;
    background: #22577A;
}

.nav-links li {
    margin: 0 1em;
    text-align: center;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links.show {
    display: flex;
}

main {
    margin-bottom: 40px;
    margin-left: 0;
}
footer {
    background-color: #22577A;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
        max-width: max-content;
    }

    .nav-links li {
        margin-right: 1rem;
    }

    .nav-links li:last-child {
        margin-right: 0;
    }


}